
<div id=stickies></div>

<div id=spacing-for-footer></div>
<footer> 
  <div id=add-wrapper>
    <a id=add href="#">+</a>
  </div> 
  <div id=details>
    <div id=owner><%= @owner %></div>
    <div id=logo>Stickies</div>
  </div>
</footer>

